<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangwj.blog.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.shangwj.blog.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="getSelf" type="com.shangwj.blog.model.Menu">
    <id column="id" property="id"></id>
    <result column="name" property="name"></result>
    <collection property="children" select="findAllRecursion" column="id"></collection>
    <!--查到的id作为下次的parentId-->
  </resultMap>

  <resultMap id="getAllInfo" type="com.shangwj.blog.model.MenuMap">
    <id column="id" property="id"></id>
    <result column="name" property="name"></result>
    <association property="menu" javaType="com.shangwj.blog.model.Menu" column="menu">
      <result column="id" property="id"></result>
      <result column="name" property="name"></result>
    </association>
  </resultMap>

  <resultMap id="getSelfOther1" type="com.shangwj.blog.model.Menu">
    <id column="id" property="id"></id>
    <result column="name" property="name"></result>
    <collection property="children" select="findMenuByParentId" column="id"></collection>
    <!--查到的id作为下次的parentId-->
  </resultMap>

  <select id="findAllRecursion" resultMap="getSelf">
    SELECT id,name,parentId FROM Menu WHERE parentId = #{id}
  </select>

  <select id="findAllRecursionOther1" resultMap="getSelfOther1">
    SELECT id,name,parentId FROM Menu WHERE parentId = 0
  </select>

  <select id="findMenuByParentId" resultMap="getSelfOther1">
    SELECT id,name,parentId FROM Menu WHERE parentId = #{id}
  </select>

  <select id="getAllInfo" resultMap="getAllInfo">
    SELECT id,name,parentId FROM Menu
  </select>

  <select id="gettwoParam" resultType="map">
    select * from Menu where id in
    <foreach collection="param" item="item" close=")" open="(" separator=",">
      ${item.num}
    </foreach>
    and parentId = ${parentId}
  </select>
</mapper>